doctype html
html(lang="en")
	head
		title  !El mejor lugar del mundo¡
		meta(charset="utf-8")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/main.css")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico" rel="stylesheet")
		link(rel="stylesheet" href="css/animate.css")
	body
		section(class="full-height text-center" id="main-content")
			div(class="data")
				div(class="col-md-3 center-block no-float top-space")
					img(src="images/icecream.png" class="animated fadeIn")
					h1(class="pacifico big green animated fadeIn delay-1") Food Facilito
					div(class="animated fadeInDown delay-2") 
						h2 Ven, convive y diviertete.
						nav
							a(href="/menu" class="right-space mediano") Menu
							a(href="contacto.jade" class="right-space mediano") Contacto
		script(src="https://code.jquery.com/jquery-2.1.1.min.js")
		script(src="js/main.js")