extends ./layout.jade
block contenido
  section
    .text-center.mediano
      h1.pacifico.big.blue Menú
      p Todos los productos se preparan con procedimientos de calidad
      .col-md-3.col-sm-4.inline-block
        article
          h2.pacifico Hamburguesa
          img.col-md-5.col-xs-4.no-float(src='images/hamburguesa.png')
          p
            strong 4USD
        article
          h2.pacifico Hot Dog
          img.col-xs-4.col-md-5.no-float(src='images/hotdog.png')
          p
            strong 2USD
      .col-md-6.col-sm-4.inline-block.tope
        article
          h2.pacifico Ice Cream
          img.col-md-5.col-xs-4.no-float(src='images/icecream.png')
          p
            strong 3USD
      .col-md-3.col-sm-4.inline-block
        article
          h2.pacifico Sandwich
          img.col-md-5.col-xs-4.no-float(src='images/sandwich.png')
          p
            strong 4USD
        article
          h2.pacifico Hot Dog
          img.col-md-5.col-xs-4.no-float(src='images/hotdog.png')
          p
            strong 4USD