extends ../layout.jade
block contenido
	div(class="col-md-5 center-block no-float top-space text-left")
		h1 Editar producto
		form(method="post" action="/menu/#{product.id}?_method=put" style="margin-top:1.5em;" enctype="multipart/form-data")
			.form-group
				label Nombre
				input(type="text" name="title" value="#{product.title}" placeholder="Nombre del producto" class="form-control")
			.form-group
				label Descripcion
				textarea(name="description" placeholder="Descripcion del producto" class="form-control")
					=product.description
			.form-group
				label Costo
				input(type="number" name="pricing" placeholder="Costo del producto" class="form-control" value="#{product.pricing}")
			.form-group
				label Imagen del producto
				input(type="file" name="image_avatar")
			.form-group
				label Contraseña
				input(type="password" name="password" placeholder="Contraseña" class="form-control")
			.form-group.text-right
				input(type="submit" class="btn btn-info" value="Guardar")