extends ../layout.jade
block contenido
	.container
	.row
		.col-md-12
			.error-template
				h1
					| Oops!
				h2
					| Contraseña Incorrecta
				.error-details
					| Por favor vuelve a introducir la contraseña correctamente
				